* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

.navbar {
    background: gray;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

img {
    width: 6%;
    height: auto;
}

#navbar__logo {
    background-color: blue;
    background-image: linear-gradient(to top, black 0%, rgb(10, 188, 247) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa_gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: aqua;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: black;
    }

    .navbar__menu.active {
        background: gray;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;       
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section */
.main {
    background-image: url('images/worldflood.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.main__container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    text-align: center;
    background-color: white;
    background-image: linear-gradient(to top, blue 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__btn {
    font-size: 1rem;
    align-items: center;
    background-image: linear-gradient(to top, #1498cc 0%, #1498cc 100%);
    padding: 16px 28px;
    border: none;
    border-radius: 4px;
    color: #fff;  
    margin: 2rem auto; /* This centers the button horizontally */
    display: block; /* Ensure it behaves like a block element */
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: blue;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Story Section */
.story{
    margin-top: 5%;
    flex: 1;
    background: lightcyan;
    border-radius: 0;
}

.story h1 {
    text-align: center;
}

.story p {
    text-align: justify;
}

/* Missions and Values */
#missions-values {
    background-color: #1498cc;
}

.missions__card {
    margin: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.missions {
    text-align: center;
}

.missions p {
    font-style: italic;
}

.cempower img {
    margin-right: 20px; /* Adds some spacing between the image and the text */
    border-radius: 1.5rem;
    width: 300px; /* Set a specific width */
    height: auto; /* Maintain the aspect ratio */
}

.cempower {
    margin-bottom: 35px;
    margin-top: 35px;
}

.cresilience img {
    margin-right: 20px;
    border-radius: 1.5rem;
    width: 300px;
    height: auto;
}

.cresilience {
    margin-bottom: 35px;
}

/* Teams Section */
.team__title h6, h3 {
    text-align: center;
}

.card-img-top {
    height: 100%; /* Set the image height to fill one-fifth of the card */
    object-fit: cover; /* Ensures the image maintains its aspect ratio */
}

.margin__r {
    margin-right: 40px;
}